.big_number {
  font-size: 12vw;
  font-weight: bold;
  text-align: center;
  transition: all 2s ease-in-out;
}

.text_below_big_num{
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  transition: all 2s ease-in-out;
}

.full_page_graph{
  max-width: 75vw;
  align-items: center;
  margin: 0 auto;
}